* {
    color: white;
    /* background-color: #212529; */
}

.navlabel{
    padding-left: 30px;
    padding-right: 30px;
    color:gray;
}
.navstyle{
    position: fixed;
    width: 100%; 
    z-index: 999;
}
.navcontainer{
    justify-content: space-between;
    flex-wrap: nowrap; 
    min-width: 1000px;
}

.profile{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 3.5rem 0;
    background-color: #111111;
}

.img_area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_image{
    width:  175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: center;
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
}

.profile-edit-btn {
    color: white;
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #f80101;
    background-color: red;
    border-radius: 0.3red;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2rem;
}

.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

.content-list {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: 10px;
    box-sizing: border-box;
    background-color: #111111;
}
.song-list-container-item{
    flex:1 1 40%;
    max-width: 47%;
    align-self: center; 
    flex-grow:1; 
    margin:10px;
}
#song-list-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111111;
}